
<div class="mb20">
        <div class="input-group mb10">
            <div class="small text-uppercase">Free text</div>
            <input type="text" class="form-control" placeholder="Search in CNAs for...">
        </div>

         <div class="dropdown mb10">
            <div class="small text-uppercase">Jurisdiction</div>
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true">
                National
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">National</a></li>
                <li><a href="#">Sub-national</a></li>
                <li><a href="#">Community</a></li>
            </ul>
        </div>

        <div class="dropdown mb10">
            <div class="small text-uppercase">Subject matter</div>
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true">
                Select subject matter
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li class="active"><a href="#">National</a></li>
                <li><a href="#">Sub-national</a></li>
            </ul>
        </div>

        <div class="dropdown mb10">
            <div class="small text-uppercase">Areas of access</div>
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true">
                Select areas of access
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">National</a></li>
                <li><a href="#">Sub-national</a></li>
            </ul>
        </div>
        
        <div class="mb10"><a href="#" style="color:#333"> <input type="checkbox"> Only CNAs that have issued permits</a></div>
        <div><a href="#" style="color:#333"> <i class="align glyphicon glyphicon-ban-circle"></i> Disable fitler</a></div>
        <div><a href="#" style="color:#333"> <i class="align glyphicon glyphicon-remove"></i> Remove filter</a></div>

</div>
       
