<a type="button" template="#country-filters" class="hidden-xs btn btn-filter btn-lg btn-default" data-container="body"
    data-toggle="popover" data-placement="right" html="true" data-original-title="" title="Countries">
    Countries
    <i class="pull-right align glyphicon glyphicon glyphicon-menu-right"></i>
</a>
<a type="button" template="#country-filters" class="hidden-sm hidden-md hidden-lg btn btn-filter btn-lg btn-default"
    data-container="body" data-toggle="popover" data-placement="bottom" html="true" data-original-title=""
    title="Countries and regions">
    Countries
    <i class="pull-right align  glyphicon glyphicon-menu-right"></i>
</a>




<div class="hide popover-content" id="country-filters">

    <div class="input-group mb10">
        <input type="text" class="form-control" placeholder="Search for a country">
    </div>
    <div class="popover-sm mb10">
        <h4 class="mb10">A</h4>
        <hr>
        <ul class="nav nav-pills nav-stacked nav-stacked-compressed">
            <li class="active"> <a href=""> Afghanistan </a></li>
            <li> <a href=""> Afghanistan </a></li>
            <li> <a href=""> Afghanistan </a></li>
            <li> <a href=""> Afghanistan </a></li>
            <li> <a href=""> Afghanistan </a></li>
            <li> <a href=""> Afghanistan </a></li>
            <li> <a href=""> Afghanistan </a></li>
            <li> <a href=""> Afghanistan </a></li>
            <li> <a href=""> Afghanistan </a></li>
            <li> <a href=""> Afghanistan </a></li>
            <li> <a href=""> Afghanistan </a></li>
            <li> <a href=""> Afghanistan </a></li>
            <h4 class="mb10">B</h4>
            <hr>
            <li> <a href=""> Bahrain </a></li>
            <li> <a href=""> Bahrain </a></li>
            <li> <a href=""> Bahrain </a></li>
            <li> <a href=""> Bahrain </a></li>
            <li> <a href=""> Bahrain </a></li>
            <li> <a href=""> Bahrain </a></li>
            <li> <a href=""> Bahrain </a></li>
            <li> <a href=""> Bahrain </a></li>
            <li> <a href=""> Bahrain </a></li>
            <li> <a href=""> Bahrain </a></li>
            <li> <a href=""> Bahrain </a></li>
            <li> <a href=""> Bahrain </a></li>
        </ul>
    </div>

    <div class="temp popover-footer">
        <div style="height: 35px;">
        <a class="btn btn-primary pull-left"> Apply </a>
        <a class="btn btn-default pull-right"> Cancel </a>
        </div>
    </div>
    
</div>