<a type="button" template="#country-filters" class="hidden-xs  btn btn-filter btn-lg btn-default" data-container="body" data-toggle="popover" data-placement="right" html="true" data-original-title="" title="Countries and regions">
  Keywords
  <i class="pull-right align glyphicon glyphicon glyphicon-menu-right"></i>
</a>
<a type="button" template="#country-filters" class="hidden-sm hidden-md hidden-lg btn btn-filter btn-lg btn-default" data-container="body" data-toggle="popover" data-placement="bottom" html="true" data-original-title="" title="Countries and regions">
  Keywords
  <i class="pull-right align  glyphicon glyphicon-menu-right"></i>
</a>