---
layout: page
title: explore / competent national authorities

---
<div class="container-full content-full-1 mb30">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="mb30">Explore:

          <div class="dropdown" style="display: inline;">
            <button class="btn color-black btn-lg btn-default color-national dropdown-toggle" type="button"
              id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Competent National Authorities (CNA)
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>

        </h1>
        <div>
          <p> <span class="color-highlight">Competent National Authorities</span> are entities designated to, in
            accordance with applicable national
            legislative,
            administrative or policy measures, be responsible for granting access or, as applicable, issuing written
            evidence that access requirements have been met and be responsible for advising on applicable procedures
            and
            requirements for obtaining prior informed consent and entering into mutually agreed terms (Article 13,
            paragraph
            2).
          </p>
          <div class="">
            <a class="btn btn-lg btn-default bg-grey mb5 pull-right" href="about-cna">Learn more</a>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>


<div class="container mb50">
  <div class="row">
    <div class="col-sm-3 col-md-4 col-lg-4">
      <span class="text-muted small font-weight-light text-uppercase">filters</span>
      <ul class="nav nav-searchfilters flex-column">
        <li class="nav-item">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-search btn-default" type="button"><i
                  class="text-muted glyphicon glyphicon-search"></i></button>
            </span>
          </div>
        </li>
        <li>
          <a type="button" template="#CNA-filters" class="hidden-xs  btn btn-filter btn-lg btn-default"
            data-container="body" data-toggle="modal-popover" data-placement="right" html="true" data-original-title=""
            title="cnas">
            Competent National Authorities
            <i class="pull-right align glyphicon glyphicon glyphicon-menu-right"></i>
          </a>

          <a type="button" template="#CNA-filters"
            class="hidden-sm hidden-md hidden-lg btn btn-filter btn-lg btn-default" data-container="body"
            data-toggle="modal-popover" data-placement="bottom" html="true" data-original-title="" title="cnas">
            CNAs
            <i class="pull-right align glyphicon glyphicon glyphicon-menu-right"></i>
          </a>

          <div class="hide popover-content" id="CNA-filters">
            {% include /search-filters/cna-filters.html %}

            <div class="popover-footer">
              <div style="height: 35px;">
                <a class="btn btn-primary pull-left"> Apply </a>
                <a class="btn btn-default pull-right"> Cancel </a>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">{% include /search-filters/country.html %}</li>
        <li class="nav-item">{% include /search-filters/regions.html %}</li>
        <li class="nav-item">{% include /search-filters/keywords.html %}</li>
      </ul>
      
      <a href=""><h4>Related frequently used searches</h4></a>
      <a href=""><h4>About competent national authorities</h4></a>
            
      
    </div>
    <div class="col-sm-9 col-md-8 col-lg-8">

      <div style="margin-top:5px;">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#explore" aria-controls="explore" role="tab"
              data-toggle="tab">
              Explore</a>
          </li>
          <li role="presentation"><a href="#records" aria-controls="records" role="tab" data-toggle="tab">
              List records</a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content ">

          <div role="tabpanel" class="tab-pane active " id="explore">
            <br>
            <div class="row">
              <div class="col-sm-4">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <span class="text-muted small font-weight-light text-uppercase">Total records</span>
                  </div>
                  <div class="panel-body text-center">
                    <h1>56</h1>
                  </div>
                </div>
              </div>
              <div class="col-sm-8">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <span class="text-muted small font-weight-light text-uppercase">Published records by Party
                      status</span>
                  </div>
                  <div class="panel-body text-center">
                    <h1>56</h1>
                  </div>
                </div>
              </div>

              <div class="col-sm-12">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <span class="text-muted small font-weight-light text-uppercase">
                      Visualization: Map 
                    </span>
                  </div>
                  <div class="panel-body text-center">
                    <img src="{{BASE_PATH}}/uikit/assets/themes//bootstrap/images/map.png" style="max-width:100%;">
                  </div>
                </div>
              </div>

              <div class="col-sm-12">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <span class="text-muted small font-weight-light text-uppercase">
                      Visualization: Pie
                    </span>
                  </div>
                  <div class="panel-body text-center">
                    <img src="{{BASE_PATH}}/uikit/assets/themes//bootstrap/images/pie.png" style="max-width:100%;">
                  </div>
                </div>
              </div>

              <div class="col-sm-12">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <span class="text-muted small font-weight-light text-uppercase">
                      Visualization: Bar chart 
                    </span>
                  </div>
                  <div class="panel-body text-center">
                    <img src="{{BASE_PATH}}/uikit/assets/themes//bootstrap/images/barchart.png" style="max-width:100%;">
                  </div>
                </div>
              </div>


              <div class="col-sm-12">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <span class="text-muted small font-weight-light text-uppercase">
                      Visualization: Datatable 
                    </span>
                  </div>
                  <div class="panel-body text-center">
                    <img src="{{BASE_PATH}}/uikit/assets/themes//bootstrap/images/table.png" style="max-width:100%;">
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div role="tabpanel" class="tab-pane" id="records">

            <nav aria-label="Page navigation" class="text-center">
              <ul class="pagination">
                <li>
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>

            <div class="temp" style="height: 80px; width: 100%; margin-bottom: 15px;"></div>
            <div class="temp" style="height: 80px; width: 100%; margin-bottom: 15px;"></div>
            <div class="temp" style="height: 80px; width: 100%; margin-bottom: 15px;"></div>
            <div class="temp" style="height: 80px; width: 100%; margin-bottom: 15px;"></div>
            <div class="temp" style="height: 80px; width: 100%; margin-bottom: 15px;"></div>
            <div class="temp" style="height: 80px; width: 100%; margin-bottom: 15px;"></div>
            <div class="temp" style="height: 80px; width: 100%; margin-bottom: 15px;"></div>
            <div class="temp" style="height: 80px; width: 100%; margin-bottom: 15px;"></div>
            <div class="temp" style="height: 80px; width: 100%; margin-bottom: 15px;"></div>
            <div class="temp" style="height: 80px; width: 100%; margin-bottom: 15px;"></div>

            <nav aria-label="Page navigation" class="text-center">
              <ul class="pagination">
                <li>
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>

          </div>

        </div>

      </div>

    </div>
  </div>
</div>
</div>

