---
layout: page
title: search 
header: Pages
group: navigation
---

<div class="container">
        <div class="row">
            <div class="col-sm-3"> <h1 class="font-weight-light">Search</h1> </div>
            <div class="col-sm-9" style="margin-top:34px;">     
                <div class="pull-right" style="position: relative;top:-32px;">
                    <ul class="nav nav-pills nav-search-options nav-stacked-compressed">
                        <li> <a class="small font-weight-light text-uppercase" template="#view-options" data-container="body" data-toggle="modal-popover" data-placement="bottom" html="true" data-original-title="" title="Search results view options">view</a> 
                          {% include /search-options/view.html %}
                        </li>
                        <li> <a class="small font-weight-light text-uppercase" template="#sort-options" data-container="body" data-toggle="modal-popover" data-placement="bottom" html="true" data-original-title="" title="Sort search results">sort</a>
                          {% include /search-options/sort.html %}
                        </li>
                        <li><a class="small font-weight-light text-uppercase" template="#email-options" data-container="body" data-toggle="modal-popover" data-placement="bottom" html="true" data-original-title="" title="Send search results">send</a>
                          {% include /search-options/send.html %}
                        </li>
                        <li> <a class="small font-weight-light text-uppercase">print</a> </li>
                        <li> <a class="small font-weight-light text-uppercase">export</a> </li>
                        <li> <a class="small font-weight-light text-uppercase">help</a> </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 col-md-4 col-lg-4" > 
                <span class="text-muted small font-weight-light text-uppercase">filters</span> 
                <ul class="nav nav-searchfilters flex-column">
                  <li class="nav-item">
                      <div class="input-group">
                          <input type="text" class="form-control" placeholder="Search for...">
                          <span class="input-group-btn">
                            <button class="btn btn-search btn-default" type="button"><i class="text-muted glyphicon glyphicon-search"></i></button>
                          </span>
                        </div>
                  </li>
                  <li class="nav-item">{% include /search-filters/recordtypes.html %}</li>
                  <li>{% include /search-filters/cna.html %}</li>
                  <li>{% include /search-filters/national.html %}</li>
                  <li class="nav-item">{% include /search-filters/country.html %}</li>
                  <li class="nav-item">{% include /search-filters/regions.html %}</li>
                  <li class="nav-item">{% include /search-filters/keywords.html %}</li>
                </ul>
            </div>

            <div class="col-sm-9 col-md-8 col-lg-8">

              <div style="margin-top:5px;">
                <span class="text-muted small font-weight-light text-uppercase" >records</span> 

                 <!-- Nav tabs -->
                 <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active"><a href="#all" aria-controls="all records" role="tab" data-toggle="tab">
                    All <span class="hidden-xs hidden-sm hidden-md"> records </span> (399)</a>
                  </li>
                  <li role="presentation"><a href="#national" aria-controls="national records" role="tab" data-toggle="tab">
                    National <span class="hidden-xs hidden-sm hidden-md"> records </span> (12)</a>
                  </li>
                  <li role="presentation"><a href="#reference" aria-controls="reference records" role="tab" data-toggle="tab">
                    Reference <span class="hidden-xs hidden-sm hidden-md"> records </span> (6)</a>
                   </li>
                  <li role="presentation"><a href="#scbd" aria-controls="scbd records" role="tab" data-toggle="tab">
                    SCBD <span class="hidden-xs hidden-sm hidden-md"> records </span> (3)</a>
                  </li>
                  </ul>
              
                <!-- Tab panes -->
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="all">

                    <nav aria-label="Page navigation" class="text-center">
                      <ul class="pagination">
                        <li>
                          <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                          </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                          <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                          </a>
                        </li>
                      </ul>
                  </nav>   

                    <div class="temp" style="height: 80px; width: 100%; margin-bottom: 15px;"></div>
                    <div class="temp" style="height: 80px; width: 100%; margin-bottom: 15px;" ></div>
                    <div class="temp" style="height: 80px; width: 100%; margin-bottom: 15px;" ></div>
                    <div class="temp" style="height: 80px; width: 100%; margin-bottom: 15px;" ></div>
                    <div class="temp" style="height: 80px; width: 100%; margin-bottom: 15px;" ></div>
                    <div class="temp" style="height: 80px; width: 100%; margin-bottom: 15px;" ></div>
                    <div class="temp" style="height: 80px; width: 100%; margin-bottom: 15px;" ></div>
                    <div class="temp" style="height: 80px; width: 100%; margin-bottom: 15px;" ></div>
                    <div class="temp" style="height: 80px; width: 100%; margin-bottom: 15px;" ></div>
                    <div class="temp" style="height: 80px; width: 100%; margin-bottom: 15px;" ></div>

                    <nav aria-label="Page navigation" class="text-center">
                      <ul class="pagination">
                        <li>
                          <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                          </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                          <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                          </a>
                        </li>
                      </ul>
                  </nav>   

                  </div>
                  <div role="tabpanel" class="tab-pane" id="national">...</div>
                  <div role="tabpanel" class="tab-pane" id="reference">...</div>
                  <div role="tabpanel" class="tab-pane" id="scbd">...</div>
                </div>
              
              </div>

            </div>
          </div><!-- end row -->
</div>


