<!-- ABSCH header -->
<div class="container hidden-xs" style="padding:0;">
    <div class="row row-absch" >
        
        <ul class="hide visible-xs nav nav-pills nav-search-options nav-stacked-compressed">
            <li> <a href="about" class="small font-weight-light text-uppercase">About</a> </li>
            <li> <a href="search" class="small font-weight-light text-uppercase">Search</a> </li>
            <li> <a href="explore" class="small font-weight-light text-uppercase">Explore</a> </li>
            <li> <a href="submit" class="small font-weight-light text-uppercase">Submit</a> </li>
            <li> <a href="countries" class="small font-weight-light text-uppercase">Countries</a> </li>
            <li> <a href="reports" class="small font-weight-light text-uppercase">National Reports</a> </li>
            <li> <a href="forums" class="small font-weight-light text-uppercase">Forums</a> </li>
        </ul>
        
      
        <div style="margin-top:20px">
            <div class="col-xs-12  col-sm-2  col-md-4  col-lg-5 row-chm-logo" >
                <h1>
                    <a href="./" class="color-absch"  >
                        <span class="pull-left"><img src="{{ ASSET_PATH }}/images/green-outline-cbd-leaf.png" /></span>
                        <span class="pull-left hidden-xs hidden-sm hidden-md" > The Access and Benefit-sharing Clearing-House </span>
                        <span class="pull-left hidden-xs hidden-sm hidden-lg "> ABS Clearing-House </span>
                        <span class="pull-left hidden-xs hidden-md hidden-lg"> ABSCH</span>
                    </a>
                </h1>
            </div>
            <div class="col-xs-12 col-sm-10  col-md-8  col-lg-7 row-chm-links">
                <ul class="nav navbar-nav nav-pills">
                    <li><a href="about">About</a></li>
                    <li><a href="search">Search</a></li>
                    <li><a href="explore">Explore</a></li>
                    <li><a href="submit">Submit</a></li>
                    <li><a href="countries">Countries</a></li>
                    <li><a href="reports">National Reports</a></li>
                    <li><a href="forums">Forums</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>