<nav class="navbar-cbd navbar navbar-default navbar-static-top " id="anchorTop" style="background-color: #f7f7f7;">
    <div class="container-fluid">
        <div class="navbar-header" >
            <a href="#">
                <span class="hidden-xs "> <img src="{{ ASSET_PATH }}/images/cbd-leaf-grey.svg" style="position: relative;top:-2px; padding:0 3px;" /> Convention on Biological Diversity </span> 
            </a>

            <div class="hide visible-xs" >
              <div>
                <a href="http://www.cbd.int" class="hidden-md hidden-lg  pull-left" > <img src="{{ ASSET_PATH }}/images/cbd-leaf-999.svg" style="position: relative;top:-2px; padding:0 3px;" /> CBD &nbsp; </a> 
                <a href="./" class="color-absch  pull-left" >  /  ABSCH </a></li>
              </div>
              <br>
              <nav class="text-center" >
                  <a href="about"> About</a> | <a href="search">Search</a> | <a href="explore">Explore</a> | <a href="submit">Submit</a> | <a href="countries">Countries</a> | <a href="reports">National Reports</a> | <a href="forums">Forums</a>
              </nav>
            </div>
            
        </div>
        <!-- <ul class="navbar-left navlist" ng-if="toggleMenu"  ng-class="{'arabic-cbd-nav-bar' : locale=='ar'}" ng-if="toggleMenu" >
            <li><a translation-url  href="http://www.cbd.int/convention/" class="color-cbdgrey">Biodiversity Convention</a></li>
            <li><a translation-url  href="http://bch.cbd.int/protocol" class="color-cbdgrey">Cartagena Protocol</a></li>
            <li><a translation-url  href="http://www.cbd.int/abs/" class="color-cbdgrey">Nagoya Protocol</a></li>
            <li><a translation-url  href="http://www.cbd.int/programmes/" class="color-cbdgrey">Programmes</a></li>
            <li><a translation-url  href="http://www.cbd.int/information/" class="color-cbdgrey">Information</a></li>
            <li><a translation-url  href="http://www.cbd.int/secretariat/" class="color-cbdgrey">Secretariat</a></li>
        </ul> -->
    </div>
</nav>