<div class="container-fluid footer-page-container hidden-print text-right hidden-xs" style="margin:5px;">
    <a translation-url href="#" scroll-to="anchorTop" class="color-darkgrey"><i class="glyphicon glyphicon-arrow-up"></i> back to top</a>
</div>


<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center" >
            <div class="jumbotron" style="background-color:#FFF;">
                <h1>Need help? </h1>
                <p>Get in touch with us at: <a class="color-absch" href="mailto:absch@cbd.int" role="button">absch@cbd.int</a> </p>
              </div>
        </div>
    </div>

    <div class="row  hidden-xs">
        <div class="row">
            <div class="col-xs-12" >
                <h3>THE CONVENTION ON BIOLOGICAL DIVERSITY </h3>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <h4>The Convention</h4>
            <ul>
                <li><a translation-url href="https://www.cbd.int/convention/text/">Text of the Convention</a></li>
                <li><a translation-url href="https://www.cbd.int/convention/parties/list/">List of Parties</a></li>
                <li><a translation-url href="https://www.cbd.int/sp/">Strategic Plan</a></li>
                <li><a translation-url href="https://www.cbd.int/programmes/">Programmes and Issues</a></li>
                <li><a translation-url href="https://www.cbd.int/cooperation/">Cooperation &amp; Partnerships</a></li>
            </ul>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <h4>Cartagena Protocol</h4>
            <ul>
                <li><a translation-url href="https://bch.cbd.int/protocol/text/">Text of the Protocol</a></li>
                <li><a translation-url href="https://bch.cbd.int/protocol/parties/">List of Parties</a></li>
                <li><a translation-url href="https://bch.cbd.int/protocol/issues/cpb_stplan.shtml">Strategic Plan</a></li>
                <li><a translation-url href="https://bch.cbd.int/">Biosafety Clearing-House</a></li>
            </ul>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <h4>Nagoya Protocol</h4>
            <ul>
                <li><a translation-url href="https://www.cbd.int/abs/text/">Text of the Protocol</a></li>
                <li><a translation-url href="https://www.cbd.int/abs/nagoya-protocol/signatories/">List of Parties</a></li>
                <li><a translation-url href="https://absch.cbd.int/">ABS Clearing-House</a></li>
            </ul>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <h4>Programmes</h4>
            <ul>
                <li><a translation-url href="https://www.cbd.int/programmes/">Thematic Programmes</a></li>
                <li><a translation-url href="https://www.cbd.int/programmes/">Cross-Cutting Issues</a></li>
                <li><a translation-url href="https://www.cbd.int/programmes/">Major Groups</a></li>
            </ul>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <h4>Information</h4>
            <ul>
                <li><a translation-url href="https://www.cbd.int/meetings/">Meetings</a></li>
                <li><a translation-url href="https://www.cbd.int/notifications/">Notifications</a></li>
                <li><a translation-url href="https://www.cbd.int/countries/">National Information</a></li>
                <li><a translation-url href="https://www.cbd.int/information/publications.shtml">Publications</a></li>
            </ul>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <h4>Secretariat</h4>
            <ul>
                <li><a translation-url href="https://www.cbd.int/secretariat/">Overview</a></li>
                <li><a translation-url href="https://www.cbd.int/secretariat/staff/">Staff</a></li>
                <li><a translation-url href="https://www.cbd.int/secretariat/vacancies/">Opportunities</a></li>
                <li><a translation-url href="https://www.cbd.int/contact/">Contact Us</a></li>
            </ul>
        </div>

    </div>
</div>

<div class="row copyright">
<div class="col-xs-12 text-center">
    <a translation-url="" href="http://www.cbd.int"><img src="{{ ASSET_PATH }}/images/cbd-logo-en.svg" style="padding: 0 0 14px 0; margin: 0; width:200px;"></a>
    <p style="font-size:10px;"><a translation-url="" href="http://www.cbd.int" class="ng-binding">© 2020 SCBD</a> | <a translation-url="" href="http://www.cbd.int/privacy">Privacy Policy</a> | <a translation-url="" href="http://www.cbd.int/terms">Terms of Use</a></p>
</div>
</div>