<div class="hide popover-content" id="email-options">
    <div class="input-group mb10">
      <div class="small text-uppercase">Email to</div> 
      <input type="text" class="form-control" placeholder="" >
    </div>
    <div class="input-group mb10">
      <div class="small text-uppercase">Your email</div> 
      <input type="text" class="form-control" placeholder="" >
    </div>
    <div class="input-group mb10">
      <div class="small text-uppercase">Message</div> 
      <input type="text" class="form-control" placeholder="" >
    </div>

    <div class="popover-footer">
        <div style="height: 35px;">
          <a class="btn btn-primary pull-left"> Send </a>
          <a class="btn btn-default pull-right"> Cancel </a>
        </div>
      </div>

  </div>