<div class="hide popover-content" id="sort-options">
    <ul class="nav nav-pills nav-stacked nav-stacked-compressed">
      <li> <a href=""> <input type="checkbox"> Relevance</a> </li>
      <li> <a href=""> <input type="checkbox" checked> Last updated date <span class="badge align">1</span></a></li>
      <li> <a href=""> <input type="checkbox"> Record type </a></li>
      <li> <a href=""> <input type="checkbox"> Government/Country </a></li>
    </ul>

    <div class="popover-footer">
        <div style="height: 35px;">
          <a class="btn btn-primary pull-left"> Apply </a>
          <a class="btn btn-default pull-right"> Cancel </a>
        </div>
      </div>
      
  </div>