<div class="hide popover-content" id="view-options">
    <ul class="nav nav-pills nav-stacked nav-stacked-compressed">
      <li>  <a href="" > <input type="radio"> Default </a></li>
      <li> <a href=""> <input type="radio"> List </a></li>
      <li> <a href=""> <input type="radio" > Group by: </a></li>
      <div style="padding: 0 40px;">
        <ul class="nav nav-pills nav-stacked nav-stacked-compressed">
          <li> <a href=""> <input type="checkbox" checked> Government/Country <span class="badge">2</span></a>  </li>
          <li> <a href="">  <input type="checkbox" checked> Record type <span class="badge">1</span></a> </li>
          <li> <a href=""> <input type="checkbox"> Year published </a></li>
        </ul>
      </div>
      <li> <a href=""> <input type="radio"> Matrix </a></li>
    </ul>

    <div class="popover-footer">
        <div style="height: 35px;">
          <a class="btn btn-primary pull-left"> Apply </a>
          <a class="btn btn-default pull-right"> Cancel </a>
        </div>
      </div>
  </div>